body
{
    margin: 0;
}

header
{
    display: flex;

    margin-bottom: 50px;

    color: #fff;
    background-color: green;

    flex-wrap: wrap;
    justify-content: space-between;
}
.logo-cabecera img
{
    height: 60px;
    padding: 10px 10px;

    vertical-align: middle;
}
.menu-cabecera
{
    height: 80px;
}
.enlace
{
    position: relative;

    display: inline-block;
    overflow: hidden;

    width: 150px;
    height: 80px;

    cursor: pointer;
    text-align: center;
}
.enlace span
{
    position: absolute;
    bottom: 10px;

    display: block;

    width: 100%;
    padding: 1px 0;

    transition: .3s ease;
    text-align: center;
}
.enlace .icono-liga
{
    font-size: 30px;

    position: absolute;
    top: 10px;
    left: 0;

    width: 100%;
    height: 30px;

    transition: .2s ease;
}
.enlace .icono-liga img
{
    height: 100%;
}

.enlace:hover
{
    background-color: #006000;
}
.enlace:hover span
{
    bottom: 30px;

    transition: .2s ease;
}
.enlace:hover .icono-liga
{
    top: -50px;

    transition: .3s ease;
}

.menu-responsive
{
    display: none;
}
.logo-cabecera-responsive
{
    z-index: 99;

    width: 100%;

    text-align: center;

    background-color: green;
}
.logo-cabecera-responsive img
{
    height: 60px;
    padding: 10px 10px;

    vertical-align: middle;
}
.boton
{
    z-index: 99;

    width: 100%;

    text-align: center;

    border-bottom: 1px solid #006000;
    background-color: green;
}
.boton img
{
    height: 60px;
    padding: 10px;

    cursor: pointer;
    vertical-align: middle;
}
.menu-cabecera-responsive
{
    position: absolute;
    z-index: 98;
    top: -1000px;

    display: flex;
    flex-direction: column;

    width: 100%;

    text-align: center;
}
.enlace-responsive
{
    padding: 10px;

    cursor: pointer;

    border-bottom: 1px solid #006000;
    background-color: green;
}
.icono-liga-responsive img
{
    height: 30px;
}
@media only screen and (max-width: 1131px)
{
    .menu
    {
        display: none;
    }
    .menu-responsive
    {
        display: flex;
    }
}
