body
{
    font-family: 'Helvetica';

    background-color: #d2d8dc;
}
table
{
    display: table !important;

    border-spacing: 0 !important;
    border-collapse: collapse !important;

    border-color: grey !important;
}
.tabla-resultados
{
    width: 50%;
    min-width: 900px;
    margin: 0 auto;
    margin-bottom: 50px;

    text-align: center;

    box-shadow: 0 0 5px #888;
}
.partido
{
    transition: .1s ease-in-out;
}
.partido:hover
{
    transition: .1s ease-in-out;

    background-color: #ccc !important;
}
.tabla-resultados tr:nth-child(odd)
{
    background-color: #eee;
}
.tabla-resultados tr:nth-child(even)
{
    background-color: #fff;
}
.tabla-resultados tr td
{
    padding: 5px 0;
}
.tabla-resultados tr td a
{
    text-decoration: none;

    color: #000;
}
.tabla-resultados a:hover
{
    text-decoration: underline !important;
}
.tabla-caption
{
    color: #fff;
    background-color: green !important;
}
.tabla-caption td
{
    padding: 5px 0 5px 100px !important;
}
.tabla-caption td img
{
    height: 30px;
    margin: 0 10px;

    vertical-align: middle;
}
.tabla-caption td a
{
    vertical-align: middle;
    text-decoration: none !important;

    color: #fff !important;
}
.tabla-caption a:hover
{
    text-decoration: underline !important;
}
.nombre-local
{
    width: 300px;
    padding-right: 10px !important;

    text-align: right;
}
.nombre-visitante
{
    width: 300px;
    padding-left: 10px !important;

    text-align: left;
}
.escudo-local
{
    width: 50px;

    text-align: center;
}
.escudo-visitante
{
    width: 50px;

    text-align: center;
}
.escudo-local img
{
    vertical-align: middle;
}
.escudo-visitante img
{
    vertical-align: middle;
}
.goles
{
    width: 100px;

    color: #fff;
    background-color: #222;
    box-shadow: 0 0 5px #888;
}
.error
{
    margin-top: 150px;

    text-align: center;
}
.error h1,
.error h4
{
    font-weight: normal;
}
